apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-deployment
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: microservice
    template:
      metadata:
        labels:
          app: microservice
      spec:
        serviceAccountName: app-k8s-sa
        containers:
          - name: microservice
            image: REPLACE_WITH_IMAGE
            ports:
            - containerPort: 8080
            env:
            - name: DATABASE_URL
              value: "postgresql://dbuser:P@ssw0rd@127.0.0.1:5432/appdb" # if using Cloud SQL Proxy socket, replace
            - name: cloud-sql-proxy
            image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.8.0
            command: ["/cloud-sql-proxy"]
            args: ["-instances=PROJECT:REGION:INSTANCE=tcp:5432"]
            # Alternatively use unix socket: -instances=PROJECT:REGION:INSTANCE=/cloudsql